.Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.top-btn{
    font-size: 1.4rem;
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
    background-color: #c1a01b;
    position: fixed;
    bottom: 1rem;
    right: 1.2rem;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.top-btn-icon{
    animation: gototop 1.2s linear infinite alternate-reverse;
    width: 0.9rem;
    height: 2rem;
}

@keyframes gototop {
    0% {
        transform: translateY(-0.4rem);
    }
    100% {
        transform: translateY(0.2rem);
    }
}

@media (max-width: 540px) {
    .top-btn { 
        bottom: 3rem;
    }
}
